{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["Symbol"] }}</td>
                    <td>{{ transaction["SNAME"] }}</td>
                    <td>{{ transaction["SAMOUNT"] }}</td>
                    <td>${{ transaction["SPRICE"] }}</txd>
                    <td>{{ transaction["Purchase_date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
