cs50
Flask
Flask-Session
requests

**  To Do **
Require that a user input a username, implemented as a text field whose name is username.
Require that a user input a password, implemented as a text field whose name is password,
Submit the user’s input via POST to /register.

** check **
 Render an apology if the user’s input is blank or the username already exists.
 and then that same password again, implemented as a text field whose name is confirmation.
Render an apology if either input is blank or the passwords do not match.

INSERT the new user into users, storing a hash of the user’s password, not the password itself. Hash the user’s password with generate_password_hash Odds are you’ll want to create a new template (e.g., register.html) that’s quite similar to login.html.
Once the user is registered, you may either automatically log in the user or bring the user to a page where they can log in themselves.